#verticrawl-search-results-form .page-description {
  margin-bottom: 15px;
}

#verticrawl-search-results-form .form-item-keywords,
#verticrawl-search-results-form .form-item-items-per-page {
  display: inline-block;
  margin-right: 15px;
}

#verticrawl-search-results-form .form-item-keywords #edit-keywords {
  width: 250px;
}

#verticrawl-search-results-form .results-summary {
  border-bottom: 1px solid #d3d7d9;
  margin-bottom: 30px;
  padding-bottom: 15px;
}

#verticrawl-search-results-form .verticrawl-search-results .verticrawl-search-item {
  border-bottom: 1px solid #d3d7d9;
  margin-bottom: 30px;
  padding-bottom: 15px;
}

#verticrawl-search-results-form .verticrawl-search-related-terms ul.related-terms-list {
  padding: 0;
}

#verticrawl-search-results-form .verticrawl-search-related-terms .related-terms-item {
  display: inline-block;
  margin-right: 15px;
}

#verticrawl-search-results-form .verticrawl-search-field--last-modified-text {
  color: #68696b;
  font-size: 0.857em;
}

#verticrawl-search-results-form .verticrawl-search-field--url-title {
  font-size: 1.4em;
  line-height: 1.2em;
}

#verticrawl-search-results-form #edit-items-per-page {
  width: 95px;
}

#verticrawl-search-results-form .form-item-match-mode,
#verticrawl-search-results-form .form-item-sort-by,
#verticrawl-search-results-form .form-item-document-type {
  display: inline-block;
  margin-right: 15px;
}

#verticrawl-search-results-form #edit-date-fieldset legend span {
  background: none;
  padding: 0;
}

#verticrawl-search-results-form #edit-date-fieldset > .fieldset-wrapper > div {
  display: block;
  clear: none;
  float: left;
  margin-right: 15px;
}

#verticrawl-search-results-form #edit-date-fieldset label[for="edit-date-select"] {
  display: none;
}

#verticrawl-search-results-form #edit-date-fieldset #edit-date-select {
  padding: 0;
}

#verticrawl-search-results-form .verticrawl-search-answords .verticrawl-search-item {
  border-bottom: 1px solid #d3d7d9;
  margin-bottom: 30px;
  padding-bottom: 15px;
  background-color: #efefef;
  padding: 10px;
}

#verticrawl-search-results-form .verticrawl-search-answords .verticrawl-search-field--url_image,
#verticrawl-search-results-form .verticrawl-search-answords .verticrawl-search-field--title {
  display: inline-block;
  vertical-align: middle;
}

#verticrawl-search-results-form .verticrawl-search-answords .verticrawl-search-field--url_image img {
  width: 45px;
  height: auto;
}

#verticrawl-search-results-form .verticrawl-search-answords .verticrawl-search-field--title {
  font-size: 1.4em;
  line-height: 1.2em;
}

#verticrawl-search-results-form .verticrawl-search-field--screenshot {
  float: left;
  margin-right: 15px;
}
